/*==================================================
=                                                =
=        W3hubs.com                              =
=       Free website layout & templates          =
=          ©  2018                               =
==================================================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700');
body{
	padding: 0;
	margin: 0;
	font-family: 'Open sans',sans-serif;
	height: 100%;
	letter-spacing: 1px;
	position: relative;

}
section{
	width: 100%;
	height: 100%;

	
}
/*team*/
#team{
	padding: 20px 0;
	height: 100%;
	width: 100%;
	background: #ffffff;
	color: #ffffff;

}
#team h2{
	text-align: center;
	font-size: 45px;
	font-family: 'Open sans',sans-serif;
	padding: 20px;
	font-weight: 700;
}
#team a{
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
	display: block;
	padding: 10px;
	text-decoration: none;
	 text-transform: uppercase;

}
#team a:hover{
	color: red;

}
#team p{
	line-height: 2;
	font-size: 16px;
	letter-spacing: 0px;
	font-style: 'Open sans',sans-serif;
	text-align: left;
	margin-top: 0;
    margin-bottom: 20px;
    text-align: center;

}
footer{
	background: #333;
	color: #fff;
	width: 100%;
	text-align: center;
}
footer p{
	padding: 10px;
	margin: 0;
	font-size: 18px;
	font-family: 'Open sans',sans-serif;

}
footer p a{
	text-decoration: none;
	color: #fff;
}
footer p a:hover{
	text-decoration: none;
	color: #2471A3;
}
@media(max-width: 768px){
	.col-xs-12{
		width: 70%;
		margin: 0 auto;
		float: none;	
	}
}
@media(max-width: 500px){
	.col-xs-12{
		width: 90%;
		margin: 0 auto;
		float: none;	
	}

}